#team .text-muted {
  color: #dccfc3;
}

#team a,
#team a.active,
#team a:active,
#team a:focus,
#team a:hover {
  outline: 0;
}

#team a.active,
#team a:active,
#team a:focus,
#team a:hover {
  color: #fec503;
}

section#team {
  padding: 100px 0;
}

section#team h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  section#team {
    padding: 150px 0;
  }
}

.team-member {
  text-align: center;
  margin-bottom: 50px;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid #decab7;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

#team ul.social-buttons {
  margin-bottom: 0;
}

#team ul.social-buttons li a {
  display: block;
  background-color: #222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  outline: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#team ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fed136;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #dccfc3 !important;
}

.crew {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1200px) {
  .crew {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hover-switch > img {
  position: relative;
}
.image-hover {
  position: relative;
  top: 0;
  left: 0%;
  cursor: pointer;
}
/* 
 * Show the last image by default
*/
.hover-switch > img:last-of-type {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.hover-switch > img:last-of-type {
  position: absolute;
  top: 0;
  left: 0%;
}
/* 
 * Hide the last image on hover
*/
.hover-switch:hover > img:last-of-type {
  opacity: 1;
}
